* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--mainFont: 'Roboto', sans-serif;
	--blackColor: black;
	--whiteColor: white;
	--goldColor: rgb(170, 124, 39);
}

html {
	scroll-behavior: smooth;
	font-family: var(--mainFont);
	user-select: none;
	transition: 0.7s ease;
}

body {
	background-color: var(--blackColor);
}

section {
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.btn {
	background-color: var(--goldColor);
	padding: 1rem;
	box-shadow: 0px 0px 30px 0px var(var(--blackColor));
	border-radius: 2rem;
	text-decoration: none;
	color: var(--blackColor);
	font-style: italic;
	font-weight: bold;
	transition: 0.7s ease;
}

.btn:hover {
	letter-spacing: 2px;
	background-color: var(--blackColor);
	box-shadow: 0px 0px 30px 0px var(--goldColor);
	color: var(--goldColor);
}

.tittle {
	font-size: 5rem;
	color: var(--goldColor);
}

.tittle span {
	color: var(--whiteColor);
}

/* HEADER */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--blackColor);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
	border-bottom: 1px solid var(--goldColor);
	z-index: 999;
}

.header .logo img {
	height: 6rem;
}

.header .nav {
	display: flex;
	gap: 2rem;
	z-index: 100;
}

.header .nav a {
	font-size: 1.5rem;
	color: var(--whiteColor);
	transition: all 0.7s ease;
	padding: 5px;
	border-radius: 10px;
}

.header .nav a:hover {
	background-color: var(--goldColor);
	color: var(--blackColor);
}

.header .icons {
	display: flex;
	gap: 2rem;
}

.header .icons i {
	color: var(--whiteColor);
	font-size: 1.7rem;
	cursor: pointer;
	transition: 0.7s ease;
}

.header .icons i:hover {
	color: var(--goldColor);
}

.header .icons .bx-menu {
	display: none;
}

.header .icons .bx-cart {
	position: relative;
}

.header .icons .bx-cart .cartQuantity {
	position: absolute;
	top: 50%;
	right: -18px;
	background-color: var(--goldColor);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--whiteColor);
}

.header .searchForm {
	position: absolute;
	top: 115%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
}

.header .searchForm input {
	width: 30%;
	height: 1.5rem;
	padding: 1rem;
	outline: none;
	font-family: var(--mainFont);
	font-size: 1rem;
	border: solid 2px var(--goldColor);
	border-radius: 10px;
	scale: 0;
	transition: 1s ease;
}

.header .searchForm input.active {
	scale: 1;
}

.cartContainer {
	position: fixed;
	top: 101px;
	right: -100%;
	background-color: white;
	box-shadow: -11px 14px 23px -7px var(--blackColor);
	display: flex;
	flex-direction: column;
	width: 60%;
	transition: 0.7s ease;
}

.cartContainer.active {
	right: 0;
}

.cartContainer .cartItem {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 1rem;
	border-bottom: 1px solid var(--goldColor);
}

.cartContainer .cartItem img {
	height: 100px;
}

.cartContainer .cartItem .content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;
}
.cartContainer .cartItem .content h1 {
	font-size: 1.5rem;
}

.cartContainer .cartItem .content p {
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	color: var(--goldColor);
	text-shadow: 1px 1px var(--blackColor);
}

.cartContainer .cartItem .quantityBox {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	padding: 0 15px;
}

.cartContainer .cartItem .quantityBox i {
	cursor: pointer;
	margin: 0 10px;
	color: var(--blackColor);
	transition: 0.7s ease;
}

.cartContainer .cartItem .quantityBox i:hover {
	color: var(--goldColor);
}

.quantityBox .quantityValue {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--goldColor);
}

.cartContainer .cartItem .bxs-x-circle {
	font-size: 2rem;
	cursor: pointer;
	transition: 1s ease;
	color: red;
}

.cartContainer .cartItem .bxs-x-circle:hover {
	transform: rotate(-360deg);
	color: var(--blackColor);
}

/* SECTION HOME */

.home {
	background: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	padding: 5rem 0 0 2rem;
	height: 100vh;
}

.home h2 {
	width: 50%;
	font-size: 3.5rem;
	color: var(--goldColor);
	text-transform: uppercase;
	text-shadow: 1px 1px var(--blackColor);
}

.home p {
	width: 50%;
	font-size: 1.5rem;
	color: var(--whiteColor);
	text-shadow: 1px 1px var(--blackColor);
}

.home .btn {
	margin-left: 20%;
}

/* SECTION ABOUT */

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about .content {
	display: flex;
	align-items: center;
	justify-self: center;
	padding: 3rem;
}

.about .content img {
	background-color: var(--goldColor);
	padding: 50px;
	border-radius: 20%;
}
.about .content .text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about .content .text h1 {
	font-size: 3rem;
	color: var(--goldColor);
}

.about .content .text span {
	color: var(--whiteColor);
}

.about .content .text p {
	color: var(--whiteColor);
	font-size: 1.5rem;
	text-align: center;
	padding: 2rem;
}

/* SECTION MENU */

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 0;
	gap: 3rem;
	position: relative;
}

.menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 400px;
	color: var(--whiteColor);
	padding: 3rem;
	gap: 1rem;
	border: 1px solid var(--goldColor);
	border-radius: 5px;
	transition: 0.7s ease;
}

.menuItem:hover {
	background-color: var(--goldColor);
	border: 1px solid var(--whiteColor);
}

.menuItem:hover .starsItem {
	color: var(--blackColor);
}

.menuItem img {
	height: 100px;
}

.menuItem .tittleItem {
	font-size: 2rem;
	transition: 0.7s ease;
}

.menuItem .starsItem {
	font-size: 1.5rem;
	color: var(--goldColor);
}

.menuItem .priceItem {
	font-size: 1.5rem;
	font-style: italic;
}

.menuItem .addItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 2.2rem;
	padding: 1rem;
}

.menuItem:hover .addItem .bxs-cart-download {
	color: var(--blackColor);
}
.menuItem .addItem .bxs-cart-download {
	cursor: pointer;
	text-shadow: 1px 1px var(--goldColor);
	transition: 0.7s ease;
}

.menuItem .addItem .bxs-cart-download:hover {
	color: var(--whiteColor);
	scale: 1.3;
}

.menuItem .addItem .bxs-heart {
	color: red;
	text-shadow: 1px 1px var(--goldColor);
	cursor: pointer;
	transition: 0.7s ease;
}

.menuItem .addItem .bxs-heart:hover {
	scale: 1.3;
}

/* SECTION PRODUCTS */

.products {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.productsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 2rem 0;
	gap: 2rem;
}

.productsItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 330px;
	gap: 1rem;
	padding: 20px 10px;
	border: 1px solid var(--goldColor);
	border-radius: 10px;
	transition: 0.7s ease;
}

.productsItem:hover {
	box-shadow: 0px 0px 30px 5px var(--goldColor);
}

.productsItem .productsTittle {
	font-size: 2.5rem;
	color: var(--goldColor);
	text-align: center;
}

.productsItem .productsTittle span {
	color: var(--whiteColor);
}

.productsItem img {
	height: 200px;
}

.productsItem .productsText {
	font-size: 1.2rem;
	color: var(--whiteColor);
	font-style: italic;
	text-align: center;
}

.productsStars {
	display: flex;
	align-items: center;
	gap: 10px;
}

.productsStars i {
	color: var(--goldColor);
	font-size: 1.5rem;
}

.productsPrice {
	font-size: 1.5rem;
	font-style: italic;
	color: var(--whiteColor);
}

.productsAdd {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.productsAdd i {
	font-size: 2.2rem;
}

.productsAdd .bxs-cart-download {
	color: var(--whiteColor);
}
.productsAdd .bxs-cart-download {
	cursor: pointer;
	text-shadow: 1px 1px var(--goldColor);
	transition: 0.7s ease;
}

.productsAdd .bxs-cart-download:hover {
	color: var(--goldColor);
	scale: 1.3;
}

.productsAdd .bxs-heart {
	color: red;
	text-shadow: 1px 1px var(--goldColor);
	cursor: pointer;
	transition: 0.7s ease;
}

.productsAdd .bxs-heart:hover {
	scale: 1.3;
}

/*  SECTION CONTACT */

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.contactContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10px;
	gap: 2rem;
	flex-wrap: wrap;
}

.contactContainer form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.contactContainer form input {
	width: 400px;
	height: 3rem;
	padding: 5px;
	outline: none;
	border: 2px solid var(--goldColor);
	border-radius: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--blackColor);
}

.contactContainer form input::placeholder,
.contactContainer textarea::placeholder {
	font-style: italic;
}

.contactContainer textarea {
	resize: none;
	width: 400px;
	height: 200px;
	padding: 5px;
	outline: none;
	border: 2px solid var(--goldColor);
	border-radius: 5px;
	font-family: var(--mainFont);
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--blackColor);
}

.contactContainer input[type='submit'] {
	background-color: var(--goldColor);
	cursor: pointer;
	transition: 0.7s ease;
}

.contactContainer input[type='submit']:hover {
	box-shadow: 0 0 20px 5px var(--goldColor);
	background-color: var(--blackColor);
	color: var(--goldColor);
}

.contactContainer iframe {
	border-radius: 10px;
	border: 2px solid var(--goldColor);
}

/* FOOTER */

footer {
	border-top: 2px solid var(--goldColor);
	padding: 30px 0;
	margin: 20px auto;
	width: 90%;
}

footer .socialLinks {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer .socialLinks i {
	font-size: 3rem;
	border-radius: 50%;
	padding: 5px;
	background-color: var(--goldColor);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 0.7s ease;
}

footer .socialLinks i:hover {
	background-color: var(--blackColor);
	color: var(--goldColor);
	box-shadow: 0 0 10px 5px var(--goldColor);
}

footer p {
	font-size: 1.8rem;
	color: var(--goldColor);
	font-style: italic;
	text-align: center;
	margin: 30px 0 0 0;
}

footer .arrowUp {
	width: 60px;
	height: 60px;
	margin: 20px auto 0;
	background-color: var(--goldColor);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.7s ease;
}

footer .arrowUp:hover {
	background-color: var(--blackColor);
	color: var(--goldColor);
	box-shadow: 0 0 10px 5px var(--goldColor);
}

footer .arrowUp i {
	font-size: 2.5rem;
	animation: up 1s linear infinite;
}

@keyframes up {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}
	100% {
		transform: translateY(-30%);
		opacity: 1;
	}
}
/* MEDIA QUERRIES */

@media (max-width: 992px) {
	.header .nav a {
		font-size: 1.2rem;
	}
	.header .searchForm input {
		width: 60%;
	}
	.home h2 {
		font-size: 2.5rem;
	}
	.home p {
		font-size: 1rem;
	}
	.cartContainer {
		width: 50%;
	}
	.about .content .text h1 {
		font-size: 2.5rem;
	}
	.about .content .text p {
		font-size: 1.5rem;
	}
}

@media (max-width: 756px) {
	.header .logo img {
		height: 4rem;
	}

	.header .icons .bx-menu {
		display: block;
	}

	.header .nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		top: 69px;
		right: -100%;
		background: var(--whiteColor);
		padding: 2rem;
		border-radius: 5px;
		transition: 0.7s ease;
		box-shadow: -11px 14px 23px -7px var(--blackColor);
	}

	.header .nav.active {
		right: 0;
	}

	.header .nav a {
		color: var(--blackColor);
		text-shadow: 1px 1px 2px var(--goldColor);
		text-align: center;
		width: 100%;
		text-align: center;
		font-size: 1.8rem;
		font-weight: bold;
	}

	.header .nav a:hover {
		color: var(--whiteColor);
		text-shadow: 1px 1px var(--blackColor);
	}

	.header .searchForm input {
		width: 90%;
		margin: auto;
	}

	.home {
		background-position: left;
	}

	.home h2 {
		font-size: 1.8rem;
	}

	.home .btn {
		margin-left: 0;
	}

	.cartContainer {
		top: 69px;
		width: 100%;
	}
	.cartContainer .cartItem img {
		height: 80px;
	}

	.cartContainer .cartItem .content h1 {
		font-size: 1.2rem;
	}

	.cartContainer .cartItem .content p {
		font-size: 1rem;
	}

	/* .cartContainer .cartItem .quantityBox {
		font-size: 1.2rem;
	} */
	.tittle {
		font-size: 4rem;
	}
	.about .content {
		flex-direction: column;
		padding: 1rem;
	}

	.about .content .text h1 {
		font-size: 2rem;
		padding-top: 1.5rem;
	}
	.about .content .text p {
		font-size: 1.2rem;
		padding: 10px;
	}
}

@media (max-width: 499px) {
	.home h2 {
		font-size: 1.6rem;
	}

	.home p {
		font-size: 0.8rem;
	}

	.tittle {
		font-size: 3rem;
	}
	.about .content img {
		padding: 10px;
	}
	.contactContainer form textarea,
	.contactContainer form input,
	.contactContainer form iframe {
		width: 90%;
	}
	footer p {
		font-size: 1.4rem;
	}
}
