* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	--mainFont: 'Roboto', sans-serif;
	--blackColor: black;
	--whiteColor: white;
	--goldColor: rgb(170, 124, 39);
}

html {
	scroll-behavior: smooth;
	font-family: var(--mainFont);
	user-select: none;
}

body {
	background-color: var(--blackColor);
}

section {
	width: 100%;
	height: 100%;
	padding-top: 100px;
}

.btn {
	background-color: var(--goldColor);
	padding: 1rem;
	box-shadow: 0px 0px 30px 0px var(var(--blackColor));
	border-radius: 2rem;
	text-decoration: none;
	color: var(--blackColor);
	font-style: italic;
	font-weight: bold;
	transition: 0.7s ease;
}

.btn:hover {
	letter-spacing: 2px;
	background-color: var(--blackColor);
	box-shadow: 0px 0px 30px 0px var(--goldColor);
	color: var(--goldColor);
}

.tittle {
	font-size: 5rem;
	color: var(--goldColor);
}

.tittle span {
	color: var(--whiteColor);
}

/* HEADER */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--blackColor);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
	border-bottom: 1px solid var(--goldColor);
}

.header .logo img {
	height: 6rem;
}

.header .nav {
	display: flex;
	gap: 2rem;
	z-index: 100;
}

.header .nav a {
	font-size: 1.5rem;
	color: var(--whiteColor);
	transition: all 0.7s ease;
	padding: 5px;
	border-radius: 10px;
}

.header .nav a:hover {
	background-color: var(--goldColor);
	color: var(--blackColor);
}

.header .icons {
	display: flex;
	gap: 2rem;
}

.header .icons i {
	color: var(--whiteColor);
	font-size: 1.5rem;
	cursor: pointer;
	transition: 0.7s ease;
}

.header .icons i:hover {
	color: var(--goldColor);
}

.header .icons .bx-menu {
	display: none;
}

.header .searchForm {
	position: absolute;
	top: 115%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 2rem;
}

.header .searchForm input {
	width: 30%;
	height: 1.5rem;
	padding: 1rem;
	outline: none;
	font-family: var(--mainFont);
	font-size: 1rem;
	border: solid 2px var(--goldColor);
	border-radius: 10px;
	scale: 0;
	transition: 1s ease;
}

.header .searchForm input.active {
	scale: 1;
}

.cartContainer {
	position: fixed;
	top: 101px;
	right: -100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 40%;
	transition: 0.7s ease;
}

.cartContainer.active {
	right: 0;
}

.cartContainer .cartItem {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-right: 2rem;
	border-bottom: 1px solid var(--goldColor);
}

.cartContainer .cartItem img {
	height: 100px;
}

.cartContainer .cartItem .content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;
}
.cartContainer .cartItem .content h1 {
	font-size: 1.5rem;
}

.cartContainer .cartItem .content p {
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	color: var(--goldColor);
	text-shadow: 1px 1px var(--blackColor);
}

.cartContainer .cartItem .bxs-x-circle {
	font-size: 2rem;
	cursor: pointer;
	transition: 1s ease;
}

.cartContainer .cartItem .bxs-x-circle:hover {
	transform: rotate(-360deg);
	color: var(--goldColor);
}

/* SECTION HOME */

.home {
	background: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	padding: 5rem 0 0 2rem;
	height: 100vh;
}

.home h2 {
	width: 50%;
	font-size: 3.5rem;
	color: var(--goldColor);
	text-transform: uppercase;
	text-shadow: 1px 1px var(--blackColor);
}

.home p {
	width: 50%;
	font-size: 1.5rem;
	color: var(--whiteColor);
	text-shadow: 1px 1px var(--blackColor);
}

.home .btn {
	margin-left: 20%;
}

/* SECTION ABOUT */

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about .content {
	display: flex;
	align-items: center;
	justify-self: center;
	padding: 3rem;
}

.about .content img {
	background-color: var(--goldColor);
	padding: 50px;
	border-radius: 20%;
}
.about .content .text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.about .content .text h1 {
	font-size: 3rem;
	color: var(--goldColor);
}

.about .content .text span {
	color: var(--whiteColor);
}

.about .content .text p {
	color: var(--whiteColor);
	font-size: 1.5rem;
	text-align: center;
	padding: 2rem;
}

/* MEDIA QUERRIES */

@media (max-width: 992px) {
	.header .nav a {
		font-size: 1.2rem;
	}
	.header .searchForm input {
		width: 60%;
	}
	.home h2 {
		font-size: 2.5rem;
	}
	.home p {
		font-size: 1rem;
	}
	.cartContainer {
		width: 50%;
	}
	.about .content .text h1 {
		font-size: 2.5rem;
	}
	.about .content .text p {
		font-size: 1.5rem;
	}
}

@media (max-width: 756px) {
	.header .logo img {
		height: 4rem;
	}

	.header .icons .bx-menu {
		display: block;
	}

	.header .nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		top: 69px;
		right: -100%;
		background: var(--goldColor);
		padding: 2rem;
		border-radius: 5px;
		transition: 0.7s ease;
		box-shadow: -11px 14px 23px -7px var(--blackColor);
	}

	.header .nav.active {
		right: 0;
	}

	.header .nav a {
		color: var(--blackColor);
		text-align: center;
		width: 100%;
		text-align: center;
		font-size: 1.8rem;
		font-weight: bold;
	}

	.header .nav a:hover {
		color: var(--whiteColor);
		text-shadow: 1px 1px var(--blackColor);
	}

	.header .searchForm input {
		width: 90%;
		margin: auto;
	}

	.home {
		background-position: left;
	}

	.home h2 {
		font-size: 1.8rem;
	}

	.home .btn {
		margin-left: 0;
	}

	.cartContainer {
		top: 69px;

		width: 70%;
	}
	.cartContainer .cartItem img {
		height: 80px;
	}

	.cartContainer .cartItem .content h1 {
		font-size: 1.2rem;
	}

	.cartContainer .cartItem .content p {
		font-size: 1rem;
	}
	.tittle {
		font-size: 4rem;
	}
	.about .content {
		flex-direction: column;
	}

	.about .content .text h1 {
		font-size: 2rem;
	}
	.about .content .text p {
		font-size: 1.2rem;
	}
}

@media (max-width: 456px) {
	.home h2 {
		font-size: 1.6rem;
	}

	.home p {
		font-size: 0.8rem;
	}

	.tittle {
		font-size: 3rem;
	}
	.about .content img{
		padding:10px;
	}
}
